#page-create-orphanage {
  display: flex;
}

#page-create-orphanage main {
  flex: 1;
}

form.create-orphanage-form {
  width: 700px;
  margin: 64px auto;

  background: #ffffff;
  border: 1px solid #d3e2e5;
  border-radius: 20px;

  padding: 64px 80px;

  overflow: hidden;
}

form.create-orphanage-form .leaflet-container {
  margin-bottom: 40px;
  border-radius: 25px;
  border: 1px solid #d3e2e5;
}

form.create-orphanage-form fieldset {
  border: 0;
}

form.create-orphanage-form fieldset + fieldset {
  margin-top: 80px;
}

form.create-orphanage-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5c8599;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

form.create-orphanage-form .input-block + .input-block {
  margin-top: 24px;
}

form.create-orphanage-form .input-block label {
  display: flex;
  color: #8fa7b3;
  margin-bottom: 8px;
  line-height: 24px;
  justify-content: space-between;
}

form.create-orphanage-form .input-block label span {
  font-size: 14px;
  color: #8fa7b3;
  margin-left: 5px;
  padding-top: 2px;
  line-height: 24px;
}

form.create-orphanage-form .input-block input,
form.create-orphanage-form .input-block textarea {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: #5c8599;
}

form.create-orphanage-form .input-block input {
  height: 64px;
  padding: 0 16px;
}

form.create-orphanage-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

form.create-orphanage-form .input-block .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

form.create-orphanage-form .input-block .images-container img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 20px;
}

form.create-orphanage-form .input-block .images-container .new-image {
  height: 96px;
  background: #f5f8fa;
  border: 1px dashed #96d2f0;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.create-orphanage-form .input-block input[type="file"] {
  display: none;
}

form.create-orphanage-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.create-orphanage-form .input-block .button-select button {
  height: 64px;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  color: #5c8599;
  cursor: pointer;
  outline-color: #36cf82;
}

form.create-orphanage-form .input-block .button-select button.active {
  background: #edfff6;
  border: 1px solid #a1e9c5;
  color: #37c77f;
}

form.create-orphanage-form .input-block .button-select button:first-child {
  border-radius: 20px 0px 0px 20px;
}

form.create-orphanage-form .input-block .button-select button:last-child {
  border-radius: 0 20px 20px 0;
  border-left: 0;
}

form.create-orphanage-form button.confirm-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3cdc8c;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

form.create-orphanage-form button.confirm-button svg {
  margin-right: 16px;
}

form.create-orphanage-form button.confirm-button:hover {
  background: #36cf82;
}

.modal-content {
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-modal {
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #0a6272;
  background-color: #12afcb;
  position: absolute;
  top: 25vh;
}

.center-modal > p {
  padding: 8px 0 0 4px;
  margin: 0 50px;
  font-weight: 800;
  text-align: center;
}

.center-modal .button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-bottom: 13px;
}

.center-modal .button-content button {
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  background: #ffd666;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.center-modal .button-content button p {
  font-size: 15px;
  color: rgb(94, 77, 52);
}

.message-content {
  padding: 10px;
  text-align: center;
  max-height: 70px;
  margin: 10px 0 16px 0;
}

.message-content > p {
  font-size: 15px;
}

@media (max-width: 768px) {
  form.create-orphanage-form {
    width: 80%;
    min-width: 320px;
    padding: 15px 30px;
  }
  form.create-orphanage-form > fieldset:nth-child(1),
  form.create-orphanage-form > fieldset:nth-child(2) {
    margin-top: 25px;
  }
  form.create-orphanage-form .input-block .images-container .new-image,
  form.create-orphanage-form .input-block .images-container img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
  }
  form.create-orphanage-form .input-block label span {
    font-size: 12px;
  }
  form.create-orphanage-form .input-block label {
    font-size: 15px;
  }
  form.create-orphanage-form .leaflet-container {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  form.create-orphanage-form .input-block input {
    height: 50px;
  }
  form.create-orphanage-form .input-block input,
  form.create-orphanage-form .input-block textarea {
    border-radius: 10px;
  }
  form.create-orphanage-form .input-block .button-select button {
    height: 50px;
  }
  form.create-orphanage-form .input-block .button-select button:first-child {
    border-radius: 10px 0px 0px 10px;
  }
  form.create-orphanage-form .input-block .button-select button:last-child {
    border-radius: 0px 10px 10px 0px;
  }
  form.create-orphanage-form button.confirm-button {
    margin-top: 40px;
  }
  form.create-orphanage-form fieldset legend {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
}

@media (max-width: 425px) {
  form.create-orphanage-form {
    width: 90%;
    padding: 10px 20px;
  }
}

@media (max-width: 375px) {
  form.create-orphanage-form {
    width: 100%;
  }
  .center-modal {
    width: 280px;
  }
}
